/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

.popular{
    &__item{
        flex-basis: 23%;
    }

}

.seat{
    &__item{
        flex-basis: 23%;
    }

}

.travel{

    &__inner{
        padding:50px 150px;
    }

}

.course{

    &__inner{
        padding:50px 150px;
    }

}

.side{
    display: block;
}